body {
    background-color: #db99ba;
    /* muda a cor de fundo da página */
    color: #730606;
    /* muda a cor das letras */
    font: normal 20pt italic;
    /* tamnho e fonte das letras*/
}strong{
    color: #7c0e38;
}#TT{
    color: crimson;
}